services:
  backend:
    env_file:
      - .env
    build:
      context: .
      target: backend
    ports:
      - "8080:8080"
  frontend:
    build:
      context: .
      target: frontend
      args:
        REACT_APP_API_BASE_URL: ${REACT_APP_API_BASE_URL:-http://localhost:8080/api}
    ports:
      - "3000:8080"